<h1>Editing provenance record</h1>

<%= render "form", provenance_record: @provenance_record %>

<br>

<div>
  <%= link_to "Show this provenance record", @provenance_record %> |
  <%= link_to "Back to provenance records", provenance_records_path %>
</div>
