<p style="color: green"><%= notice %></p>

<h1>Provenance records</h1>

<%= render "table", provenance_records: @provenance_records %>

<%= link_to "New provenance record", new_provenance_record_path %>
